*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-color: #0d0d0d;
    font-family: 'Poppins', sans-serif;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1a1a1a;
    height: 55px;
    max-height: 30vh;
}

#logo{
    margin-left: 1%;
    margin-top: 0.75vh;
    width: 50px;
}

#logo-shape{
    transition: 800ms
}

#logo-shape:hover{
    fill: #ff6e6e;
}

.nav-links{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 200%;
    list-style: none;
    margin-top: 0.8vh;

}

.nav-link a{
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 14px;
    transition: 500ms
}

.nav-link a:hover{
    color: #ff6e6e;
}

.search-box{
    display: flex;
    align-items: center;
    border: 1px solid #292929;
    border-radius: 13px;
    background-color: #292929;
    margin-right: 2%;
}

#search-txt{
    border: none;
    outline: none;
    background: none;
    color: white;
    padding: 0px;
    margin-left: 15px;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .5px;
    font-family: 'Poppins', sans-serif;
}

::placeholder{
    color: #e0e0e0;
}

#search-btn{
    width: 15px;
    margin: 2.5px 10px 0px 0px;
}

#magnify{
    transition: 500ms;
}

#magnify:hover{
    fill: #ff6e6e;
}