* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d0d0d;
  font-family: "Montserrat", sans-serif;
}

/* --- header --- */

header {
  background-color: #1a1a1a;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 3;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 12vh;
  width: 94.5%;
  margin: auto;
}

.logo {
  font-size: 1.2rem;
  font-weight: 700;
  color: #cacaca;
  text-decoration: none;
}

.logo:hover {
  color: #30ff8f;
}

.navlinks {
  display: flex;
  list-style: none;
  margin-right: 30.5em;
}

.navlink {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: white;
  margin-left: 5em;
}

.navlink:hover {
  color: #30ff8f;
}

.search {
  position: relative;
}

#search {
  border: none;
  border-radius: 8px;
  padding: 0.6em 1.9em;
  background: #4b4b4b;
  color: rgb(238, 238, 238);
  outline: none;
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-indent: 0rem;
}

#search::placeholder {
  color: #b7b7b7;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

#search:focus,
#search:hover {
  background: #575757;
}

.lupa {
  position: absolute;
  top: 12px;
  right: 32px;
  z-index: 1;
}

/* ---- aside --- */

aside {
  background-color: #141414;
  flex: 1;
  min-height: 150vh;
}

.sidebar-wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 5.5vh;
  position: -webkit-sticky;
  position: sticky;
  top: 12vh;
}

.user-panel {
  border-radius: 13px;
  width: 15rem;
  height: 7rem;
  background-color: #252525;
  margin-bottom: 5vh;
}

.categories {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category {
  text-decoration: none;
  color: white;
  font-size: 1.22rem;
  font-weight: 500;
  margin-bottom: 4vh;
  display: flex;
  align-items: flex-start;
}

.main-section {
  flex: 4.5;
}

main {
  min-height: 100vh;
  display: flex;
}

.category:hover {
  color: #30ff8f;
  fill: #30ff8f;
}

.icons {
  margin-right: 1rem;
  width: 30px;
}

/* ---- content ---- */

.content-wrapper {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5.5vh;
  flex-flow: row wrap;
}

.content {
  border-radius: 13px;
  background-color: #151515;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  width: 45%;
  cursor: pointer;
  margin-top: 6vh;
}

.content:hover {
  background-color: #131313;
}

.thumbnail-frame {
  width: 9.375rem;
  height: 12.5rem;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.1em;
}

.thumbnail {
  height: 12.5rem;
}

.content-info {
  width: 60%;
}

.content-attr {
  margin-bottom: 0.8vh;
}

.title {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.date {
  color: #838383;
  font-size: 0.79999rem;
  font-weight: 600;
}

.authors-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.authors {
  color: #a7a7a7;
  font-size: 1rem;
  font-weight: 500;
}

.author {
  color: #cccccc;
  font-size: 1rem;
  font-weight: 500;
  margin-left: 0.3em;
}

.description {
  color: #707070;
  font-size: 1rem;
  font-weight: 400;
}

/* -- content layout -- */

.content:nth-child(2) {
  page-break-after: always;
}

.content:nth-child(1),
.content:nth-child(2) {
  margin-top: 0;
}

/* -- ------- -- */

@media (max-width: 1380px) {
  html {
    font-size: 12px;
  }
  .icons {
    width: 23px;
  }
}
