*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Special Elite', cursive;
}

header{
    display: flex;
    width: 90%;
    margin: auto;
}

.logo-container{
    background-color: lightblue;
    flex: 1;
}

nav{
    background-color: red;
    flex: 1;
}
